// Colors
$background: rgb(128, 128, 128); //gray
$background-header: rgba(192, 162, 52, 1); //dark gold
$background-header-pic: #fff; //white
$background-main: #000;
$background-nav: #000;
$border-nav: #e5e5e5;
$link: rgb(113, 153, 187);
$link-visited: rgb(155, 115, 192);
$shadow: #242424; //dark gray
$text-main: #fff;
$text-nav: #fff;
$text-title: #fff;
$title-shadow: #000;

// Layout sizes
$border-radius: 10px;
$content-min-width: 400px;
$gutter: 20px;
$header-height: 150px;
$navbar-full-width: 200px;
$navbar-min-width: 40px;

/* Border class for troubleshooting layouts */
.border {
  border: 2px dashed purple;
}

/* Layout formatting */

.headerpic {
  background-color: $background-header-pic;
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
  box-sizing: border-box;
  height: $header-height;
  margin: 0 0 $gutter 0;
  width: $navbar-full-width;
}

.headertitle {
  background-color: $background-header;
  border-radius: $border-radius;
  box-shadow: 5px 5px 5px $shadow;
  box-sizing: border-box;
  height: $header-height;
  line-height: 1.2;
  width: 100%;
}

.logo {
  border: 1px dashed pink;
  box-sizing: border-box;
  max-height: calc(#{$header-height} - 10px);
  max-width: calc(#{$navbar-full-width} - 10px);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.titletext {
  box-sizing: border-box;
  color: $text-title;
  font-size: 2.5em;
  font-style: normal;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 2px $title-shadow;
  top: 50%;
  transform: translateY(-50%);
}

.container-fluid {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General appearance formatting */
a {
  color: $link;

  &:visited {
    color: $link-visited;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  font-family: 'Gill Sans', 'GillSans', 'Verdana', sans-serif;
  font-size: 90%;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

section {
  box-sizing: border-box;
  display: inline;
  margin: 0;
  padding: 0;
}

#logo {
  border: 1px dashed green;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}


/* Concept Formatting */
.concept-name {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0 0 5px;
}

.concept-content {
  box-sizing: border-box;
  margin-left: 10px;
}

.concept-content-container {
  box-sizing: border-box;
  height: 0;
  overflow: hidden;
  padding: 0;
}


/* Font formatting */
.centered {
  text-align: center;
}

.description {
  padding-left: 25px;
  margin-bottom: 8px;
}

.large {
  font-size: large;
  font-weight: bold;
}

.script {
  font-family: 'Merienda', cursive;
}

.small {
  font-size: .8em;
}

.xlarge {
  font-size: x-large;
}

.xxlarge {
  font-size: xx-large;
}

.underline {
  text-decoration: underline;
}


/* FORMATTING THE SIDEBAR NAV MENU */

/* remove outer padding */
.main {
  box-sizing: border-box;
  padding: 0;

  &.row {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

/* Add gap to nav and right windows.*/
.main {
  margin: $gutter;
  background-color: blue;
}

nav.sidebar .menu {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - (#{$header-height} + 3 * #{$gutter}));
  box-shadow: 5px 5px 5px $shadow;
}

/*Remove rounded corners from left side, but keep on right side*/

nav.sidebar.navbar {
  background-color: transparent;
  border-radius: 0;
  box-sizing: border-box;
}

.menu {
  background-color: $background-nav;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  width: 100%;
  height: calc(100% - (#{$header-height} + 3 * #{$gutter}));
  box-shadow: 5px 5px 5px $shadow;
  box-sizing: border-box;
  position: relative;
  top: calc(#{$header-height} + 2 * #{$gutter});
}

nav.sidebar, .main {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium size display*/
@media (min-width: 768px) {

  /*Allow main to be next to Nav*/
  .main{
    position: relative;
    width: calc(100% - (#{$navbar-min-width} + 2 * #{$gutter})); /*keeps 100% minus nav size*/
    //left: calc(#{$navbar-min-width} + #{$gutter});
    float: right;
  }

  /*lets nav bar to be showed on mouseover*/
  nav.sidebar:hover + .main{
    margin-left: $navbar-full-width;
    position: absolute;
  }

  /*Center Brand*/
  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  /*Center Brand*/
  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  .navbar-brand {
    height: $header-height;
  }

  /*Center Icons*/
  nav.sidebar a{
    padding-right: 13px;
  }

  /*adds border top to first nav box */
  nav.sidebar .navbar-nav > li:first-child {
    //border-top: 1px $border-nav solid;
  }

  ///*adds border to bottom nav boxes*/
  //nav.sidebar .navbar-nav > li{
  //  border-bottom: 1px $border-nav solid;
  //}

  /* Colors/style dropdown box*/
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /*allows nav box to use 100% width*/
  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
    padding: 0;
  }

  /*colors dropdown box text */
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  /*gives sidebar width/height*/
  nav.sidebar{
    width: $navbar-full-width;
    height: calc(100% - 2 * #{$gutter});
    margin-bottom: $gutter;
    margin-left: -160px;
    margin-top: $gutter;
    float: left;
    z-index: 8000;
  }

  /*give sidebar 100% width;*/
  nav.sidebar li {
    width: 100%;
  }

  /* Move nav to full on mouse over*/
  nav.sidebar:hover {
    margin-left: 0px;
  }

  /*for hiden things when navbar hidden*/

  .forAnimate {
    opacity: 0;
  }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

  /*Allow main to be next to Nav*/
  .main {
    /*keeps 100% minus nav size*/
    width: calc(100% - (#{$navbar-full-width} + 2 * #{$gutter}));
    left: $navbar-full-width;
  }

  /*Show all nav*/
  nav.sidebar {
    float: left;
    margin: $gutter 0;
  }

  /*Show hidden items on nav*/
  nav.sidebar .forAnimate {
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate {
  opacity: 1;
}

/*
section {
  padding-left: 15px;
}*/